# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# VoteChainAI specific
backend/votechainai.db
backend/votechainai.db-journal
test_images/

# Ignore images content but keep folder
images/*
!images/.gitkeep

# Ignore locally generated content
output/
frontend/public/models/
